@charset "UTF-8";

@media screen and (min-width:1000px) {
    
    .items-section {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

    .items-section div {
        width: 300px;
    }

    .supervisor-topic {
        position: relative;
        top: 50%;
    }

    .team-builder-topic {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .karma-topic {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .calculator-topic {
        position: relative;
        top: 50%;
    }
}